.header__wrap {
  width: 100%;
  z-index: 1000;

  .header {
    background: #ffffff;
    width: 100%;

    .header__inner {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 72px;
      margin: 0 auto;
      max-width: 1280px;
      padding: 0 5%;
      width: 100%;

      li + li {
        margin-left: 12px;
      }

      .header__gnb {
        height: 24px;
        vertical-align: top;
        width: 24px;
        @include bg-image('icon-menu-d', 24px, 24px);
      }

      .header__logo {
        margin-left: 26px;

        .logo {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -0.5px;
        }
      }

      .header__search {
        height: 26px;
        margin-left: auto;
        width: 26px;
        @include bg-image('icon-search-d', 26px, 26px);
      }

      .header__mode {
        .header__mode-button {
          height: 28px;
          vertical-align: top;
          width: 28px;

          &.light {
            @include bg-image('icon-mode-light', 28px, 28px);
          }

          &.dark {
            @include bg-image('icon-mode-dark', 28px, 28px);
          }
        }
      }
    }


    // .header__menu,
    // .header__logo,
    // .header__auth {
    //   display: none;
    // }
  }

  &.sticky {
    .header {
      box-shadow: 0 5px 12px 0 rgb(0 0 0 / 10%);
      position: fixed;
      top: 0;
    }

    // TODO: 모바일에서 체크 후 리프레시 동작에서 이상있으면 다른 방법 찾기
    &::before {
      content: '';
      display: block;
      height: 72px;
      width: 100%;
    }
  }
}